.card {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
.cards-container {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.card-title {
  font-weight: 700;
}

.card-text {
  font-size: 24px;
  font-weight: bold;
}
.cards-container-title {
  align-self: start;
}
.card-header,
.card-description {
  background: var(--light-silver);
  color: black;
  padding: 0 12px;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-links {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 8px;
}

.link {
  text-decoration: none;
}

.card-description {
  flex-grow: 1;
}
i:hover {
  text-shadow: 0 0 6px #cec9c9, 0 0 20px rgba(206, 201, 201, 0.42);
}
.icon:hover {
  filter: drop-shadow(0 0 6px rgba(206, 201, 201, 0.42));
}
