@media (min-width: 320px) and (max-width: 768px) {
  html {
    background-image: url('../images/dark-background-480w.webp');
  }
  .main-nav {
    position: static;
    flex-direction: column;
    padding: 0;
  }
  .navbar-header {
    min-width: 100%;
    padding: 0 12px;
  }
  .nav-links {
    max-width: 100%;
    flex-direction: column;
    padding: 0;
    transform-origin: top;
    height: 0;
    transform: scaleY(0);
    transition: transform, 2s, ease-out, 1s;
  }
  .nav-links.active {
    height: auto;
    transform: scaleY(1);
  }
  .navbar-icon {
    display: flex;
  }

  .personal-info {
    flex-direction: column;
  }
  .personal-description {
    order: 2;
  }
  .greeting,
  .introduction {
    font-size: 24px;
  }
  .personal-photo {
    order: 1;
  }
  #about-me {
    padding: 0 10vw;
  }
  #contact-me {
    flex-direction: column;
  }
  .contact-info {
    order: 2;
  }
  .contact-photo {
    order: 1;
  }
}
