@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

:root {
  --dark-gold-rose: #643b47;
  --light-silver: #b9b9b9;
  --poiret: 'Poiret One', cursive;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 3rem;
  transform-origin: 0% 0%;
  transition: transform, 2s, ease-out, 1s;
}

.nav-link > a {
  text-decoration: none;
  color: inherit;
  font-family: var(--poiret);
  font-weight: 700;
  font-size: 24px;
}

.nav-link {
  cursor: pointer;
  transition: background-color, 2s, ease-out, 1s;
  transition: color, 2s, ease-out, 1s;
  padding: 12px;
}
.nav-link:hover {
  background-color: white;
  color: black;
}

#arrow-btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.arrow {
  transition: transform, 2s, ease-out, 1s;
}

.arrow.active {
  transform: rotateX(180deg);
}

.navbar-icon {
  display: none;
}
