@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poiret+One&display=swap');
* {
  box-sizing: border-box;
}
:root {
  --dark-gold-rose: #643b47;
  --light-silver: #b9b9b9;
  --light-green: #7fd1ae;
  --poiret: 'Poiret One', cursive;
  --libre: 'Libre Baskerville', serif;
}

#m-style {
  color: var(--light-green);
  font-family: var(--libre);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3rem;
  transition: transform, 2s, ease-out, 1s;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
  color: inherit;
  font-family: var(--poiret);
  font-weight: 700;
  font-size: 24px;
  user-select: none;
  cursor: pointer;
}

.nav-link {
  transition: background-color, 2s, ease-out, 1s;
  transition: color, 2s, ease-out, 1s;
  border-radius: 12px;
  padding: 12px;
}
.nav-link:hover {
  background-color: var(--light-silver);
  color: black;
  border-radius: 12px;
}

.navbar-icon {
  display: none;
}

#arrow-btn {
  background: transparent;
  border: none;
}
